// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2022 ROCEOS
 */

/dts-v1/;

#include "rk3568-roceos-k50s.dtsi"

/ {
	model = "ROCEOS K50S";
	compatible = "roceos,k50s", "rockchip,rk3568", "gmac_1v8";
	/* 20260821: rotate to physical jack order (user tested each port:
	   LAN1=pcie3x1, LAN2=pcie3x2, LAN3=pcie2x1, LAN4=gmac1, WAN=gmac0) */
	eth_order = "0001:11:00.0,0002:21:00.0,0000:01:00.0,fe010000.ethernet,fe2a0000.ethernet";
	kdebug = "0";
	hwmodel_id = "K50S";
	eth_driver = "r8125";
	hw_support = "hdmi,2.5g";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
	};
};

&gmac0 {
	phy-mode = "rgmii";
	clock_in_out = "input";
	snps,reset-gpio = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
	snps,reset-active-high;
	/* 20260821: 复位极性按厂商 22.03 基线（active-high）；误写 active-low
	   时 probe 无有效复位脉冲，PHY 保持上电 strap 状态 -> 千兆死百兆活 */
	snps,reset-delays-us = <0 20000 100000>;
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>, <&gmac0_clkin>;
	assigned-clock-rates = <0>, <125000000>, <25000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus
		     &gmac0_clkinout>;
	tx_delay = <0x3c>;
	rx_delay = <0x2f>;
	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&mdio0 {
	rgmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		realtek,fiber;
		realtek,led-data = <0x616b>;
	};
};

&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "input";
	snps,reset-gpio = <&gpio2 RK_PD5 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>, <&cru CLK_MAC1_OUT>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&gmac1_clkin>;
	assigned-clock-rates = <0>, <125000000>, <25000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus
		     &eth1m1_pins
		     &gmac1m1_clkinout>;
	tx_delay = <0x4f>;
	rx_delay = <0x26>;
	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&mdio1 {
	rgmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		realtek,fiber;
		realtek,led-data = <0x616b>;
	};
};

&sata2 {
	/* K50S: sata2 shares combphy2 with pcie2x1 (eth2, the 3rd 2.5G r8125
	   port). RK3568 allows only one function per combphy, so enabling
	   sata2 here would starve pcie2x1 of its PHY. This board is a
	   router with no SATA device, so disable sata2 to keep combphy2
	   free for the 2.5G NIC. Re-enable only if a SATA port is present. */
	status = "disabled";
};

&sdio_pwrseq {
	status = "okay";
	reset-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW>;
	post-power-on-delay-ms = <200>;
};

&sdmmc2 {
	max-frequency = <150000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc2m0_bus4 &sdmmc2m0_cmd &sdmmc2m0_clk>;
	sd-uhs-sdr104;
	status = "okay";
};
